.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  font-family: sans-serif;
  background-color: #E3EEB2;
  /* Light grey */
  min-height: 100vh;
  /* Ensure it fills the screen */
  width: 100%;
  /* Optional: full width */
}


.trash-button {
  background-color: #332D56;
  color: rgb(130, 115, 115);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 24px;
  margin: 1rem 0;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: none;
  background-color: #f3f4f6;
  cursor: pointer;
}

.filter.active {
  background-color: #332D56;
  color: #F0E9D2;
}

.todo-list {
  width: 100%;
  max-width: 400px;
  margin-top: 2rem;
}


.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.8rem;
  color: wh;
  background-color: #4E6688;
}



.todo-item.completed .text {
  text-decoration: line-through;
  color: #71C0BB;
}

.delete {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
  color: white;
}

.add-input {
  margin: 1rem 0;
  display: flex;
  gap: 10px;
}

.add-input input {
  padding: 8px;
  flex: 1;
}

.add-input button {
  padding: 8px 16px;
  background: #332D56;
  color: rgb(255, 245, 245);
  border: none;
  cursor: pointer;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.add-button {
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #332D56;
  color: #F0E9D2;
  cursor: pointer;
}

.add-input-inside-button {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.add-input-inside-button input {
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 6px 12px;
  background-color: #332D56;
  border: none;
  color: #F0E9D2;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #332D56;
}